{% extends 'base.html' %}
{% block title %}List{% endblock %}

{% block content %}
<a href="{% url 'bookmark:create'%}" class='btn btn-info' target="">ADD</a>
<!--#은 현재 -->
<html>
<table class="table">
    <thead>
<tr>

        <th>#</th>
        <th>Site</th>
        <th>URL</th>
        <th>Modify</th>
        <th>Delete</th>

</tr>
     </thead>
    <tbody>
    <!--{ % % } : 기능문법-->
    <!--{ {} } : 출력문법-->

    {% for bookmark in object_list %}

        <tr>
            <td>{{ forloop.counter0 }}</td>
            <td>{{bookmark.site_name}}</td>
            <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
            <td><a href="{% url 'bookmark:update' bookmark.id %}" class="btn btn-success tn-sm">modify</a> </td>
            <td><a href="{% url 'bookmark:delete' bookmark.id %}" class="btn btn-danger tn-sm">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}
<!--#서버 다시 껐켜 3가지.-->
<!--1. setting-->
<!--2. 파일새로 디렉토리 새로-->